@model WebApplication6.Models.Movie

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header text-center bg-info text-white">
                    <h3>Movie Details</h3>
                </div>

                <div class="card-body">

                    <p><strong>Title:</strong> @Model.Title</p>
                    <p><strong>Genre:</strong> @Model.Genre</p>
                    <p><strong>Release Date:</strong> @Model.ReleaseDate.ToShortDateString()</p>
                    <p><strong>Price:</strong> ₹ @Model.Price</p>
                    <p><strong>Rating:</strong> @Model.Rating</p>

                    <div class="text-center mt-4">
                        <a href="/Movie/Index" class="btn btn-secondary">Back</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>